<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhao.bookstore.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.yuhao.bookstore.entity.Admin">
    <!--@mbg.generated-->
    <!--@Table admin-->
    <id column="adminId" jdbcType="VARCHAR" property="adminid" />
    <result column="adminPass" jdbcType="VARCHAR" property="adminpass" />
    <result column="adminTel" jdbcType="VARCHAR" property="admintel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    adminId, adminPass, adminTel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from admin
    where adminId = #{adminid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from admin
    where adminId = #{adminid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="adminId" keyProperty="adminid" parameterType="com.yuhao.bookstore.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into admin (adminPass, adminTel)
    values (#{adminpass,jdbcType=VARCHAR}, #{admintel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="adminId" keyProperty="adminid" parameterType="com.yuhao.bookstore.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminpass != null">
        adminPass,
      </if>
      <if test="admintel != null">
        adminTel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminpass != null">
        #{adminpass,jdbcType=VARCHAR},
      </if>
      <if test="admintel != null">
        #{admintel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuhao.bookstore.entity.Admin">
    <!--@mbg.generated-->
    update admin
    <set>
      <if test="adminpass != null">
        adminPass = #{adminpass,jdbcType=VARCHAR},
      </if>
      <if test="admintel != null">
        adminTel = #{admintel,jdbcType=VARCHAR},
      </if>
    </set>
    where adminId = #{adminid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuhao.bookstore.entity.Admin">
    <!--@mbg.generated-->
    update admin
    set adminPass = #{adminpass,jdbcType=VARCHAR},
      adminTel = #{admintel,jdbcType=VARCHAR}
    where adminId = #{adminid,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-01-->
  <select id="findAllByAdminid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin
    where adminId=#{adminid,jdbcType=VARCHAR}
  </select>
</mapper>