<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhao.bookstore.mapper.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.yuhao.bookstore.entity.Consumer">
    <!--@mbg.generated-->
    <!--@Table consumer-->
    <id column="csuTel" jdbcType="VARCHAR" property="csutel" />
    <result column="csuPass" jdbcType="VARCHAR" property="csupass" />
    <result column="csuName" jdbcType="VARCHAR" property="csuname" />
    <result column="csuAdd" jdbcType="VARCHAR" property="csuadd" />
    <result column="csuEmail" jdbcType="VARCHAR" property="csuemail" />
    <result column="csuBalance" jdbcType="FLOAT" property="csubalance" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    csuTel, csuPass, csuName, csuAdd, csuEmail, csuBalance, `date`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from consumer
    where csuTel = #{csutel,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from consumer
    where csuTel = #{csutel,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuhao.bookstore.entity.Consumer">
    <!--@mbg.generated-->
    insert into consumer (csuTel, csuPass, csuName, csuAdd, csuEmail, csuBalance, `date`)
    values (#{csutel,jdbcType=VARCHAR}, #{csupass,jdbcType=VARCHAR}, #{csuname,jdbcType=VARCHAR}, #{csuadd,jdbcType=VARCHAR}, #{csuemail,jdbcType=VARCHAR}, #{csubalance,jdbcType=FLOAT}, #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="csuTel" keyProperty="csutel" parameterType="com.yuhao.bookstore.entity.Consumer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into consumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="csupass != null">
        csuPass,
      </if>
      <if test="csuname != null">
        csuName,
      </if>
      <if test="csuadd != null">
        csuAdd,
      </if>
      <if test="csuemail != null">
        csuEmail,
      </if>
      <if test="csubalance != null">
        csuBalance,
      </if>
      <if test="date != null">
        `date`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="csupass != null">
        #{csupass,jdbcType=VARCHAR},
      </if>
      <if test="csuname != null">
        #{csuname,jdbcType=VARCHAR},
      </if>
      <if test="csuadd != null">
        #{csuadd,jdbcType=VARCHAR},
      </if>
      <if test="csuemail != null">
        #{csuemail,jdbcType=VARCHAR},
      </if>
      <if test="csubalance != null">
        #{csubalance,jdbcType=FLOAT},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuhao.bookstore.entity.Consumer">
    <!--@mbg.generated-->
    update consumer
    <set>
      <if test="csupass != null">
        csuPass = #{csupass,jdbcType=VARCHAR},
      </if>
      <if test="csuname != null">
        csuName = #{csuname,jdbcType=VARCHAR},
      </if>
      <if test="csuadd != null">
        csuAdd = #{csuadd,jdbcType=VARCHAR},
      </if>
      <if test="csuemail != null">
        csuEmail = #{csuemail,jdbcType=VARCHAR},
      </if>
      <if test="csubalance != null">
        csuBalance = #{csubalance,jdbcType=FLOAT},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where csuTel = #{csutel,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuhao.bookstore.entity.Consumer">
    <!--@mbg.generated-->
    update consumer
    set csuPass = #{csupass,jdbcType=VARCHAR},
      csuName = #{csuname,jdbcType=VARCHAR},
      csuAdd = #{csuadd,jdbcType=VARCHAR},
      csuEmail = #{csuemail,jdbcType=VARCHAR},
      csuBalance = #{csubalance,jdbcType=FLOAT},
      `date` = #{date,jdbcType=VARCHAR}
    where csuTel = #{csutel,jdbcType=VARCHAR}
  </update>
<!--auto generated by MybatisCodeHelper on 2020-01-01-->
  <select id="findOneByCsutel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from consumer
    where csuTel=#{csutel,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-02-->
  <select id="selectcsupassByCsutel" resultType="java.lang.String">
        select csuPass
        from consumer
        where csuTel=#{csutel,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-02-->
  <select id="selectOneByCsutelAndCsuemail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from consumer
    where csuTel=#{csutel,jdbcType=VARCHAR} and csuEmail=#{csuemail,jdbcType=VARCHAR}
  </select>
</mapper>