<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhao.bookstore.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="com.yuhao.bookstore.entity.Shop">
    <!--@mbg.generated-->
    <!--@Table shop-->
    <id column="shopId" jdbcType="VARCHAR" property="shopid" />
    <result column="shopPass" jdbcType="VARCHAR" property="shoppass" />
    <result column="shopName" jdbcType="VARCHAR" property="shopname" />
    <result column="shopAdd" jdbcType="VARCHAR" property="shopadd" />
    <result column="shopTel" jdbcType="VARCHAR" property="shoptel" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    shopId, shopPass, shopName, shopAdd, shopTel, `date`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from shop
    where shopId = #{shopid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from shop
    where shopId = #{shopid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="shopId" keyProperty="shopid" parameterType="com.yuhao.bookstore.entity.Shop" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop (shopPass, shopName, shopAdd, 
      shopTel, `date`)
    values (#{shoppass,jdbcType=VARCHAR}, #{shopname,jdbcType=VARCHAR}, #{shopadd,jdbcType=VARCHAR}, 
      #{shoptel,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="shopId" keyProperty="shopid" parameterType="com.yuhao.bookstore.entity.Shop" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shoppass != null">
        shopPass,
      </if>
      <if test="shopname != null">
        shopName,
      </if>
      <if test="shopadd != null">
        shopAdd,
      </if>
      <if test="shoptel != null">
        shopTel,
      </if>
      <if test="date != null">
        `date`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shoppass != null">
        #{shoppass,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopadd != null">
        #{shopadd,jdbcType=VARCHAR},
      </if>
      <if test="shoptel != null">
        #{shoptel,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuhao.bookstore.entity.Shop">
    <!--@mbg.generated-->
    update shop
    <set>
      <if test="shoppass != null">
        shopPass = #{shoppass,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        shopName = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopadd != null">
        shopAdd = #{shopadd,jdbcType=VARCHAR},
      </if>
      <if test="shoptel != null">
        shopTel = #{shoptel,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where shopId = #{shopid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuhao.bookstore.entity.Shop">
    <!--@mbg.generated-->
    update shop
    set shopPass = #{shoppass,jdbcType=VARCHAR},
      shopName = #{shopname,jdbcType=VARCHAR},
      shopAdd = #{shopadd,jdbcType=VARCHAR},
      shopTel = #{shoptel,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=VARCHAR}
    where shopId = #{shopid,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-01-->
  <select id="findOneByShopid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from shop
    where shopId=#{shopid,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-02-->
  <select id="findOneByShopidAndShoptel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop
        where shopId=#{shopid,jdbcType=VARCHAR} and shopTel=#{shoptel,jdbcType=VARCHAR}
    </select>
</mapper>