<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet" />
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet" />

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="@{/shop/nav}::navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="@{/shop/header}::headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>订单管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>订单管理</a>
                    </li>
                    <li>
                        <a>订单管理</a>
                    </li>
                    <li class="active">
                        <strong>订单详情</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>订单详情</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="orderDetails" method="POST" class="form-horizontal" enctype="multipart/form-data">

                                <div class="form-group"><label class="col-sm-2 control-label">订单号：</label>
                                    <div class="col-sm-10">
                                        <input id="orderId" readonly="readonly" name="orderId" type="text" class="form-control" th:value="${order.getOrdernumber()}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">商品id：</label>
                                    <div class="col-sm-10">
                                        <input id="itemId" readonly="readonly" name="itemId" type="text" class="form-control" th:value="${order.getBookid()}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">商品购买数量：</label>
                                    <div class="col-sm-10">
                                        <input id="num" readonly="readonly" name="num" type="text" class="form-control" th:value="${order.getNum()}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">商品标题：</label>
                                    <div class="col-sm-10">
                                        <input id="itemTitle" readonly="readonly" name="itemTitle" type="text" class="form-control" th:value="${order.getBookname()}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">商品总金额(元)：</label>
                                    <div class="col-sm-10">
                                        <input id="totalFee" readonly="readonly" name="totalFee" type="text" class="form-control" th:value="${order.getTotalmoney()}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">支付类型：</label>
                                    <div class="col-sm-10">
                                        <input id="paymentTypeStr" readonly="readonly" name="paymentTypeStr" type="text" class="form-control" th:value="${order.getPaymentTypeStr()}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">订单创建时间：</label>
                                    <div class="col-sm-10">
                                        <input id="dateStr1" readonly="readonly" name="dateStr1" type="text" class="form-control" th:value="${order.getDateStr()}"/>
                                    </div>
                                </div>


                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" onclick="javascrtpt:window.location.href='/shop/orderManage'" type="button">&nbsp;&nbsp;&nbsp;&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;回&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="@{/shop/footer}::copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>


</body>

</html>
